*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   @media (min-width: 768px){
       font-size: 18px;
   }
   @media (min-width: 1200px){
       font-size: 22px;
   }
}
body{
   background-color: #181818;
   width:100%;
}

