@import 'header.scss';

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html{

    @media (min-width: 768px){
        font-size: 18px;
    }
    @media (min-width: 1200px){
        font-size: 22px;
    }
}
body{
    overflow-x: hidden;
    background-color: #181818;
    width:100vw;
  
}

.header{
    background-image: url('../assets/background/abstract-1081281_1280.jpg');
    height: 100vh;
    width: 100vw;
    position: relative;
    color: #ffffff;
    font-family: Impact;
    &__title {
        padding: 2rem;
        background: transparent;
        font-size: 4rem;
        text-transform: uppercase;
        z-index: 1;
        @media (min-width: 1200px) {
            padding: 4rem 0 0.5rem 4rem;
        }
    }
    &__subtitle{
        padding: 0.5rem 2rem;
        font-size: 2rem;
        width: 50%;
        z-index: 1;
        @media (min-width: 1200px) {
            padding: 0.5rem 4rem;
        }
    }
    &__cta{
        position: absolute;
        width: 7rem;
        bottom: 5rem;
        left: 30%;
        background-color: #DADADA;
        color: #181818;
        padding: 0.5rem 1rem;
        border-radius: 25px;
        text-align: center;
        transform: translate(-50%, 0);
        box-shadow: 0 0 40px #DADADA88 ;
        cursor: pointer;
        @media (min-width: 768px){
            width: 10rem;
            padding: 1rem 2rem;
        }
        @media (min-width: 1024px){
            bottom: 4rem;
        }
    }
    
    &__img{
        position: absolute;
        width: clamp(150px, 40vw, 400px);
        top: 40%;
        right: 0;
        z-index: 0;
        @media (min-width: 1024px){
            top: 30%;
        }
        @media (min-width: 1200px){
            width: 45vw;
            top: 10%;
            right: -5%;
        }
    }
}
main{
    max-width: 1400px;
    margin: 5rem auto 0;
    padding: 4rem 0;
    .gallery{
        position: relative;
        font-family: Impact;
        color: #f1f1f1;
        opacity: 0.8;
        &__title{
            text-transform: uppercase;
            font-size: 5rem;
            position: absolute;
            z-index: 2;
            top: -10%;
            left: 50%;
            transform: translate(-50%, 0);
           
        }
        article{
            position: relative;
          
            .article__title{
                position: absolute;
                font-size: 3rem;
                z-index: 2;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @media (min-width: 768px){
                    font-size: 4rem;
                }
            }
         
        }
        article:not(:first-of-type){
            margin: 5em 0;
        }
    }
    .aboutme{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #f1f1f1;
    &__title{
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: center;
        font-family: Impact;
        @media (min-width: 768px){
            font-size: 3rem;
        }
    }
    &__article{
        display: flex;
        flex-direction: column;
        margin: 2em 0;
        place-items: center;
    }
    &__article:nth-child(even){
        flex-direction: column-reverse;
    }
    &__description{
        margin: 1em 1em;
        font-family: Geneva;
        max-width: 400px;
    }
    &__img{
        width: clamp(250px, 50vw, 500px);
    }
    }
    .contact{
        margin: 4em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        color:#f1f1f1;
        &__title{
            text-transform: uppercase;
            font-family: Impact;
            font-size: 2.5rem;
            @media (min-width: 768px){
                font-size: 3rem;
            }
        }
        &__medias{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin:1em;
        }
        p{
            font-family: Geneva;
            margin: 1em;
            max-width: 500px;
            text-align: center;
        }
    }
    
}
.footer{
    min-height: 5vh;
    padding: 0.5rem;
    background-color: #f1f1f1;
    p {
        margin: 0 auto;
        text-align: center;
        max-width: 800px;
        color: #999999;
    }
}